body{
  background-image: url(images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  color: white;
  font-size: 16px;
  font-family: "Poppins";
}

.container{
  display: inline-flex;
  flex-wrap: nowrap;
}

.left{
  width: 50%;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 16rem;
}

.right{
  width: 50%;
  margin-left: 4rem;
  margin-right: 8rem;
  margin-top: 4rem;
}

#buttonTry{
  background-color: hsl(248, 32%, 49%);
  color: white;
  padding: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  width: 100%;
  position:relative;
  top: 0.8rem;
  box-shadow: 0px 8px 8px hsla(248, 25%, 40%, 25%);
}

#buttonClaim{
  background-color: hsl(154, 59%, 51%);
  color: white;
  padding: 0.3rem;
  border: none;
  border-radius: 0.3rem;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

#form{
  background-color: white;
  margin-top: 2rem;
  height: 34rem;
  border: none;
  border-radius: 0.5rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 5px hsl(248, 32%, 49%, 25%);
}

#form input{
  width: 75%;
  margin: 0 auto;
  line-height: 2.4rem;
}

#fname, #lname, #email, #password{
  border: solid 1.5px;
  border-color: hsl(0, 100%, 74%);
  border-radius: 0.3rem;
  padding-left: 1.5rem;
  background: url(images/icon-error.svg) no-repeat 96% center;
  background-size: 0 0;
}


/*text elements*/

h1{
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.2rem;
}

.left p{
  font-weight: 400;
}

.right p{
  color: hsl(246, 25%, 77%);
  font-size: 0.6rem;
  padding-top: 2rem;
  margin: 0 auto;
}

p bold {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

button bold{
  font-weight: 600;
  font-size: 0.8rem;
}

#buttonClaim:hover {
  cursor: pointer;
  background-color: hsla(154, 59%, 51%, 80%);
}

#buttonTry:hover{
  cursor: pointer;
  background-color: hsl(248, 32%, 60%);
  box-shadow: 0px 8px 5px hsla(248, 32%, 55%, 10%);
}

::placeholder {
  color: hsl(0, 100%, 74%);
  opacity: 1;
}

input:focus::placeholder {
  color: transparent;
}

input:invalid {
  border-color: red;
}

input:valid {
  border: solid 1.5px hsl(133, 100%, 74%);
}



#fname_error, #lname_error, #email_error, #password_error {
  color: hsl(0, 100%, 74%);
  position: relative;
  padding: 0;
  bottom: 1.5rem;
}

#fname_error {
  left: 8rem;
  visibility: hidden;
}

#lname_error {
  left: 8rem;
  visibility: hidden;
}

#email_error {
  left: 8.5rem;
  visibility: hidden;
}

#password_error {
  left: 8rem;
  visibility: hidden;
}
