body{
  background-image: url(images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  color: white;
  font-size: 16px;
  font-family: "Poppins";
}

.container{
  display: inline-flex;
  flex-wrap: nowrap;
}

.left{
  width: 50%;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 16rem;
}

.right{
  width: 50%;
  margin-left: 4rem;
  margin-right: 8rem;
  margin-top: 4rem;
}

#buttonTry{
  background-color: hsl(248, 32%, 49%);
  color: white;
  padding: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  width: 100%;
  position:relative;
  top: 0.8rem;
}

#buttonClaim{
  background-color: hsl(154, 59%, 51%);
  color: white;
  padding: 0.3rem;
  border: none;
  border-radius: 0.3rem;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

#form{
  background-color: white;
  margin-top: 2rem;
  height: 34rem;
  border: none;
  border-radius: 0.5rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#form input{
  width: 80%;
  margin: 0 auto;
  line-height: 2.4rem;
}

#fname, #lname, #email, #password{
  border: solid 1.5px;
  border-color: hsl(0, 100%, 74%);
  border-radius: 0.3rem;
}

#form label{
  display: none;
}

/*text elements*/

h1{
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.2rem;
}

.left p{
  font-weight: 400;
}

.right p{
  color: hsl(246, 25%, 77%);
  font-size: 0.6rem;
  padding-top: 2rem;
  margin: 0 auto;
}

p bold {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

button bold{
  font-weight: 600;
  font-size: 0.8rem;
}
